---
layout: index
permalink: /index
---
<div >

  
<section class="container">
<div class="content-wrap">
<div class="content">
  <div id="focusslide" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#focusslide" data-slide-to="0" class="active"></li>
    <li data-target="#focusslide" data-slide-to="1"></li>
    <li data-target="#focusslide" data-slide-to="2"></li>
    <li data-target="#focusslide" data-slide-to="3"></li>
    <li data-target="#focusslide" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner" role="listbox" title="难忘的记忆">
    <div class="item active">
    <a href="javascript:;" target="_blank" title="遗憾" >
    <img src="/assets/img/system/home/miss.png" alt="遗憾" class="img-responsive"></a>
    </div>
    <div class="item">
    <a href="javascript:;" target="_blank" title="海角" >
    <img src="/assets/img/system/home/sea.png" alt="海角" class="img-responsive"></a>
    </div>
    <div class="item">
    <a href="javascript:;" target="_blank" title="火山岛" >
    <img src="/assets/img/system/home/sun.png" alt="火山岛" class="img-responsive"></a>
    </div>
    <div class="item">
    <a href="javascript:;" target="_blank" title="秋水" >
    <img src="/assets/img/system/home/water.png" alt="秋水" class="img-responsive"></a>
    </div>
    <div class="item">
    <a href="javascript:;" target="_blank" title="南昌之星" >
    <img src="/assets/img/system/home/city.png" alt="南昌之星" class="img-responsive"></a>
    </div>
  </div>
  <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">上一个</span> </a> <a class="right carousel-control" href="#focusslide" role="button" data-slide="next" rel="nofollow"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">下一个</span> </a> </div>


  <article class="excerpt-minic excerpt-minic-index">
    <h2><span class="red">【推荐】</span><a target="_blank" href="#" title="{{site.posts.first.title}}" >{{site.posts.first.title}}</a>
    </h2>
    <p class="note">
      {{site.posts.first.note}}
    </p>
  </article>

  <div class="title">
  <h3>最新发布</h3>
  <div class="more">                
      <a href="javascript:;" title="" ></a>                
    </div>
  </div>

{% for post in paginator.posts %}
<article class="excerpt excerpt-1" style="">
  <a class="focus" href="javascript:;" title="{{post.title}}" target="_blank" ><img class="thumb" data-original="/assets/img/posts/{{ post.date | date: "%Y-%m-%d" }}/title.jpg" src="/assets/img/posts/{{ post.date | date: "%Y-%m-%d" }}/title.jpg" alt="{{post.title}}"  style="display: inline;"></a>
    <header><a class="cat" href="javascript:;" title="{{ post.categories }}" >{{ post.categories }}<i></i></a>
      <h2>
        <a href="{{ site.baseurl | prepend: site.url  }}/detail/#{{ post.date | date: '%Y-%m-%d' }}" title="{{post.title}}" target="_blank" >{{post.title}}</a>
      </h2>
    </header>
    <p class="meta">
      <time class="time"><i class="glyphicon glyphicon-time"></i>
        {{ post.date | date: "%Y-%m-%d" }}
      </time>
    </p>
    <p class="note">
      {{post.note}}
    </p>
  </article>
{% endfor %}

  <nav class="pagination" style="display: none;">
  <ul>
    <li class="prev-page"></li>
    <li class="active"><span>1</span></li>
    <li><a href="?page=2">2</a></li>
    <li class="next-page"><a href="?page=2">下一页</a></li>
    <li><span>共 2 页</span></li>
  </ul>
  </nav>
</div>
</div>
<aside class="sidebar">
<div class="fixed">
  <!-- <div class="widget widget-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab" >统计信息</a></li>
    <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab" >联系站长</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane contact active" id="notice">
    <h2>日志总数:
        888篇
      </h2>
      <h2>网站运行:
      <span id="sitetime">88天 </span></h2>
    </div>
    <div role="tabpanel" class="tab-pane contact" id="contact">
      <h2>QQ:
        <a href="" target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title=""  data-original-title="QQ:"></a>
      </h2>
      <h2>Email:
      <a href="#" target="_blank" data-toggle="tooltip" rel="nofollow" data-placement="bottom" title=""  data-original-title="#"></a></h2>
    </div>
  </div>
  </div> -->
 <!--  <div class="widget widget_search">
  <form class="navbar-form" action="/Search" method="post">
    <div class="input-group">
    <input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off">
    <span class="input-group-btn">
    <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
    </span> </div>
  </form>
  </div> -->
</div>
<div class="widget widget_hot">
    
    <div>{% include components/tagCloud.html %}</div>
    
 </div>  
<div class="widget widget_sentence">
  <h3>友情链接</h3>
  <div class="widget-sentence-link">
  <a href="#" title="网站建设" target="_blank" >网站建设</a>&nbsp;&nbsp;&nbsp;
  </div>
</div>
</aside>
</section>

</div>
