<div style="padding:50px 0"></div>
<div>
	<link rel="stylesheet" href="/assets/mix/components/reward.css" />
	<script type="text/javascript" src="/assets/mix/components/reward.js" ></script>


	<div class="article-shang">
        <p style="text-align: right">
        	<a href="javascript:void(0)" rel="nofollow" style="color: #fff" 
        		onclick="rewardTaggle()" class="dashang" title="打赏，支持一下" draggable="false">
        		打赏
        	</a>
        </p>
    </div>

	<div id="dvReward" style="display: none" >
		<div class="hide_box" style="display: block;"></div>
		<div class="shang_box" style="display: block;">
		    <a class="shang_close" href="javascript:void(0)" onclick="hideReward()" title="关闭" draggable="false">
		        <img src="/assets/img/biz/components/close.jpg" alt="取消" draggable="false"></a>
		    <div class="shang_tit" style="margin-top:40px;">
		        <p>
		            感谢您的支持，我会继续努力的!</p>
		    </div>
		    <div class="shang_payimg">
		        <img src="/assets/mix/components/img/weipay2.jpg" alt="扫码支持" title="扫一扫" draggable="false">
		    </div>
		    <div class="pay_explain">
		        扫码打赏，您说多少就多少</div>
		    <div class="shang_payselect">
		        <div class="pay_item" data-id="alipay">
		            <span class="radiobox"></span><span class="pay_logo">
		                <img src="/assets/mix/components/img/alipay.jpg" alt="支付宝" draggable="false"></span>
		        </div>
		        <div class="pay_item checked" data-id="weipay">
		            <span class="radiobox"></span><span class="pay_logo">
		                <img src="/assets/mix/components/img/weipay.jpg" alt="微信" draggable="false"></span>
		        </div>
		    </div>
		    <div class="shang_info">
		        <p>
		            打开<span id="shang_pay_txt">微信</span>扫一扫，即可进行扫码打赏哦
		        </p>
		    </div>
		</div>
	</div>
</div>