<link rel="stylesheet" type="text/css" href="/assets/css/biz/self.css" />
<div id="dvSelfBlock">
	<h3  style="text-shadow: 0 0 3px orange" >유 个人简介 </h3>

	<div class="widget-sentence-content">  

		<ul>
			<li>
				作　者：<span title="➳叶漂流">➳叶漂流</span>
			</li>
			<li>
				座右铭：<span title="信仰 ➳ 真相??">逻辑的旋律牵动现象，永远演奏着事实。</span>
			</li>
			<li>
				博　客：<span title="http://laiyefei.com"><a  target="_blank" href="http://laiyefei.com">http://laiyefei.com</a></span>
			</li>
			<li>
			 	Github：<span title="http://github.com/laiyefei"><a target="_blank" href="http://github.com/laiyefei">http://github.com/laiyefei</a></span>
			</li>
			<li>
			 	邮　箱：<span title="邮箱"><a  target="_blank" href="mailto:sherlock@bakerstreet.club">sherlock@bakerstreet.club</a></span>			 	
			</li>
			<li>
			 	Q　 Q：<span title="Q　 Q"> 8 5 2 8 0 0 4 9 1 </span>			 	
			</li>
			<li>
			 	住　址：<span title="住　址"> 福 建 省 厦 门 市</span>			 	
			</li>
			<li>
			 	兴　趣：<span title="爱　好">喝酒敲代码，旅游</span>			 	
			</li>

			<li>
				<div style="padding:10px 0;"></div>
			</li>
			<li>
				<span title="哪里是诗和远方??" class="txtwav slow" 
                              style="font-size: 14px;float: left;margin-top: 7px; color:#37c0c8" >
                            <span>随</span>
                            <span>波</span>
                            <span>逐</span> 
                            <span>流</span>
                            <span>，</span>
                            <span>到</span>
                            <span>头</span>
                            <span>来</span>
                            <span>不</span>
                            <span>过</span>
                            <span>一</span>
                            <span>叶</span>
                            <span>飘</span>
                            <span>流</span>
                            <span>尔</span>
                            <span>。</span>
                        </span>	 	
			</li>
			<li>
				<div style="padding:10px 0;"></div>
			</li>
		</ul> 
	</div>
</div>