<link rel="stylesheet" type="text/css" href="/assets/css/biz/self.css" />
<div id="dvSelfBlock">
	<h3  style="text-shadow: 0 0 3px orange" >유 个人简介 </h3>

	<div class="widget-sentence-content">  

		<ul>
			<li>
				作　者：<span title="➳叶漂流">➳叶漂流</span>
			</li>
			<li>
				座右铭：<span title="信仰 ➳ 真相??">逻辑的旋律牵动现象，永远演奏着事实。</span>
			</li>
			<li>
				博　客：<span title="http://laiyefei.com"><a  target="_blank" href="http://laiyefei.com">http://laiyefei.com</a></span>
			</li>
			<li>
			 	Github：<span title="http://github.com/laiyefei"><a target="_blank" href="http://github.com/laiyefei">http://github.com/laiyefei</a></span>
			</li>
			<li>
			 	住　址：<span title="住　址"> 福 建 省 厦 门 市</span>			 	
			</li>
			<li>
			 	兴　趣：<span title="爱　好">喝酒敲代码，旅游</span>			 	
			</li>

			<li>
				<div style="padding:10px 0;"></div>
			</li>
			<li>
				<span title="哪里是诗和远方??" class="txtwav slow" 
                              style="font-size: 14px;float: left;margin-top: 7px; color:#37c0c8" >
                            <span>滚</span>
                            <span>滚</span>
                            <span>长</span> 
                            <span>江</span>
                            <span>东</span>
                            <span>逝</span>
                            <span>水</span>
                            <span>，</span>
                            <span>浪</span>
                            <span>花</span>
                            <span>淘</span>
                            <span>尽</span>
                            <span>英</span>
                            <span>雄</span>
                            <span>。</span>
                            <span>。</span>
                        </span>	 	
			</li>
			<li>
				<div style="padding:10px 0;"></div>
			</li>
		</ul> 
	</div>
</div>