---
layout: list
title: 文章详情
permalink: /detail
---

<div>
	
<section class="container">
<div class="content-wrap">
<div class="content">
  <header class="article-header">
	<h1 class="article-title"><a href="#" title="用DTcms做一个独立博客网站（响应式模板）" >用DTcms做一个独立博客网站（响应式模板）</a></h1>
	<div class="article-meta"> 
	  <span class="item article-meta-time">
	  	<time class="time" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="发表时间：2016-10-14"><i class="glyphicon glyphicon-time"></i> 2016-10-14</time>
	  </span> 
	  <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="来源：木庄网络博客">
	  	<i class="glyphicon glyphicon-globe"></i> 木庄网络博客
	  </span> 
	  <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="MZ-NetBlog主题">
	  	<i class="glyphicon glyphicon-list"></i> 
	  	<a href="#" title="MZ-NetBlog主题" >MZ-NetBlog主题</a>
	  </span> 
	  <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="评论量">
	  	<i class="glyphicon glyphicon-comment"></i> 4
	  </span> 
	</div>
  </header>
  <article class="article-content">
	<p><img data-original="images/201610181557196870.jpg" src="images/201610181557196870.jpg" alt="" /></p>
	<p>文章效果示例，文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字。</p>
	<pre class="prettyprint lang-cs">代码示例：
	public static double JieCheng(int number)
	{
		if (number == 0)
		{
			return 0;
		}

		//初始值必须设置为1
		double result = 1; 

		for (int i = number; i &gt;= 1; i--)
		{
			result = result*i;
		}
		return result;
	}</pre>
	<!-- <div class="bdsharebuttonbox">
		<a href="#" class="bds_more" data-cmd="more"></a>
		<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
		<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
		<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
		<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
		<a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
		<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div> -->

	    <script>                  
	    	// window._bd_share_config = { 
	    	// 	"common": { 
	    	// 		"bdSnsKey": {}, 
	    	// 		"bdText": "", 
	    	// 		"bdMini": "2", 
	    	// 		"bdMiniList": false, 
	    	// 		"bdPic": "", 
	    	// 		"bdStyle": "1", 
	    	// 		"bdSize": "32" 
    		// 	}, "share": {} }; 
    		// 	with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=0.js?cdnversion=' + ~(-new Date() / 36e5)];
    		</script>
  </article>
  <div class="article-tags">标签：<a href="#list/2/" rel="tag" >DTcms博客</a><a href="#list/3/" rel="tag" >木庄网络博客</a><a href="#list/4/" rel="tag" >独立博客</a><a href="#list/5/" rel="tag" >修复优化</a>
	</div>
  <div class="relates">
	<div class="title">
	  <h3>相关推荐</h3>
	</div>
	<ul>
	  	<li>
	  		<a href="#" title="" >用DTcms做一个独立博客网站（响应式模板）-MZ-NetBlog主题</a>
	  	</li>
	</ul>
  </div>
  

  {% include components/comment.html %}

</div>
</div>

<aside class="sidebar">

<div class="widget widget_hot">
    
    <div>{% include components/tagCloud.html %}</div>
    
 </div>  
<div class="widget widget_sentence">
  <h3>友情链接</h3>
  <div class="widget-sentence-link">
  <a href="#" title="网站建设" target="_blank" >网站建设</a>&nbsp;&nbsp;&nbsp;
  </div>
</div>
</aside>

</section>
	
</div>