#dvSelfBlock h3{
	cursor: default;
}
#dvSelfBlock ul li{
	padding:10px;
	cursor: default;
	font-weight: bold;
}
#dvSelfBlock ul li span{
	font-weight: normal;
}
#dvSelfBlock .widget-sentence-content{
	cursor: default;
}
#dvSelfBlock ul li a{
	padding: 0;
	display:inline;
	position: none;
	overflow: hidden;
    /* color: #888; */
    /* border-bottom: solid 1px #eee; */
    /* overflow: hidden; */
    /* position: relative; */
    /* display: block; */
    /* font-size: 14px; */
}